<% include partials/header %>
<div class="nav-bar-sep d-lg-none"></div>
<div class="outer-container">
  <div class="container portfolio-page">
    <div class="row name container">
       <div>Sophia Trimboli</div>
      </div>
    <div class="items">
      <% images.forEach(function(image) { %>
        <img class="project" id="pic" src="<%=image%>">
      <% }); %>
    </div>
  </div>
</div>
<% include partials/footer %>