    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>
    <script>
      $('li').each(function () {
        if (this.id == window.location.pathname) {
          $(this).addClass('current-menu-item');
        }
      });
    </script>
  </body>
</html>