<!DOCTYPE html>
<html>
  <head>
    <title>Soph City</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <header class="site-header">
    <div class="hamburger-menu">
      <div class="site-branding">
        <h1 class="site-title"><a href="#" rel="home"><img src="#"></a></h1>
      </div>
      <div class="menu-icon">
          <img src="menuicons/menu-icon.png" alt="menu icon">
      </div>
      <div class="menu-close-icon">
          <img src="menuicons/x.png" alt="menu close icon">
      </div>
    </div>
  </header>
    <nav class="site-navigation flex flex-column justify-content-between">
      <div class="site-branding d-none d-lg-block ">
      </div>
      <ul class="main-menu flex-column justify-content-center">
        <li id="/"><a href="/">Home</a></li>
        <li id="/about"><a href="/about" >About</a></li>
        <li id="/contact"><a href="/contact" >Contact</a></li>
      </ul>
    </nav>