<!DOCTYPE html>
<html>
  <head>
    <title>Soph City</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  <header class="site-header">
    <div class="site-branding">
        <h1 class="site-title"><a href="index.html" rel="home"><img src="images/logo.png" alt="Logo"></a></h1>
    </div>

    <div class="hamburger-menu">
      <div class="menu-icon">
          <img src="images/menu-icon.png" alt="menu icon">
      </div>
      <div class="menu-close-icon">
          <img src="images/x.png" alt="menu close icon">
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>
    <nav class="site-navigation flex flex-column justify-content-between">
      <div class="site-branding d-none d-lg-block ">
        <h1 class="site-title"><a href="/" rel="home"><img src="images/logo2.png" alt="Logo"></a></h1>
      </div>
      <ul class="main-menu flex flex-column justify-content-center">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
        <div class="social-profiles">
          <ul class="flex justify-content-start justify-content-lg-center align-items-center">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
    </nav>